.settings-button {
    width: 2.5rem;
    height: 2.5rem;
    padding: .75rem;
    border-radius: 2rem;
    background-color: #3a3b3c;
    margin-left: .5rem;
    cursor: pointer;
}

.settings-button:hover {
    background-color: #444;
}

.settings-button img {
    height: 100%;
    filter: invert(80%);
}