.post {
    width: 100%;
    border-radius: 5px;
    background-color: #242526;
    color: #ddd;
    margin-bottom: 1rem;
}

/* HEADER */

.post > header {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

.post > header > img {
    width: 2.5rem;
    border-radius: 2.5rem;
}

.post > header > div {
    padding: 0 .5rem;
}

.post > header > div > span,
.post > header > div > strong {
    display: block;
    line-height: 1.25rem;
}

.post > header > div > span {
    font-size: 0.8rem;
}

/* LIKES COMMENTS */

.likes-comments {
    display: flex;
    padding: .25rem 1rem;
    justify-content: space-between;
    color: #777;
    font-size: .95rem;
}

/* NAV */

.post > nav {
    display: flex;
    justify-content: space-between;
    padding: .2rem 1rem;
}

.post > hr {
    width: 95%;
    height: 1px;
    margin: 0 auto;
    border: 1px solid #444;
    border-bottom: none;
}

.post > nav > button {
    background-color: inherit;
    border: none;
    display: block;
    cursor: pointer;
    width: 32%;
    padding: .25rem;
    color: #ddd;
    border-radius: .25rem;
    transition: background-color .15s;
    font-weight: 600;
    font-size: 1rem;
}

.post > nav > button:hover {
    background-color: #333;
}

/* FOOTER */

.post > form {
    padding: .5rem 1rem;
}

.post > form > div {
    width: 100%;
    padding: .5rem;
    margin: .25rem 0;
    background-color: #333;
    border-radius: 3rem;
    display: flex;
}

.post > form > div input {
    display: block;
    flex: 1;
    border: none;
    background-color: inherit;
    color: #ddd
}