#main-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #242526;
    border-bottom: 1px solid #393a3b;
}

#home-search {
    height: 57px;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

#home-search label {
    margin-left: 1rem;
    background-color: #3a3b3c;
    border-radius: 2rem;
}

#home-search input {
    display: block;
    margin-left: .25rem;
    width: 15rem;
    padding: .6rem;
    outline: none;
    border: none;
    background-color: #3a3b3c;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 480;
}

#settings {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

#user {
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 6px 15px 6px 6px;
    cursor: pointer;
}

#user:hover {
    background-color: #3a3b3c;
}

.profile-image {
    margin-right: .5rem;
    height: 25px;
    border-radius: 2rem;
}

#user span {
    color: #ddd;
    font-weight: 500;
}

#toolbar {
    display: flex;
}

@media (max-width: 1200px) {
    #user {
        display: none;
    }

    #home-search input {
        display: none;
    }
}