.toolbar-button {
    width: 6.5rem;
    height: 3rem;
    padding: .6rem 1rem;
    cursor: pointer;
    margin: .25rem .1rem;
    border-radius: 7px;
    text-align: center;
}

.toolbar-button:hover {
    background-color: #3a3b3c;
}

.toolbar-button img {
    height: 100%;
    filter: invert(85%);
}